.list-group-item {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
