/*.course-goals h1 {
  text-align: center;
}*/
.header {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap-reverse;

  justify-content: center;
  align-items: center;
}
mark {
  background-color: #77b31d;
}
i {
  color: #77b31d;
  margin-bottom: 0.6rem;
}
